<div class="card" [appIpz]="post.title" [dStyle] = "{ marginTop: '30px', color: 'red' }">
    <h2>{{post.title}}</h2>
    <p> #{{post.id}} - {{post.text}} </p>

    <button class="btn" (click)="removePost()">&#10006;</button>
    <ng-content> </ng-content>
</div>